$header-color: hsl(204deg 10% 10%);

.header_main {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: $header-color;
  padding: 12px;
  @media (max-width: 2000px) {
    justify-content: space-between;
  }


  .header_left_items {
    display: flex;
    
    .item_leftpanel {
      line-height: 2;
      font-size: 15px;
      margin: 0 15px;
      transition: all 400ms ease;
      &:hover {
        color: lighten($header-color, 40%)
      }
    }
  }



  .header_right_items {
    display: flex;
    
    svg {
      margin: 0 5px;
      width: 1.25rem;
      fill: white;
      transition: fill ease 400ms;
      &:hover {
        fill: lighten($header-color, 40%)
      }
    }
    .item_rightpanel {
      font-size: 15px;
      line-height: 2;
      margin-right: 20px;
      margin-left: 5px;
      transition: all 400ms ease;
      &:hover {
        color: lighten($header-color, 40%)
      }
    }
  }


}

