.news_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1100px;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
  user-select: none;
  transition: all 500ms ease;
  @media (max-width: 1750px) {
    margin-left: 60px;
    margin-right: 60px;
    grid-template-rows: 1000px;
  }
  &_item {
    overflow: hidden;
    
    &_title {
      margin: 25px 0;
    }
    &_image_container {
      border-radius: 20px;
      overflow: hidden;
      
    img {
      transition: all 500ms ease;
      width: 100%;
      object-fit: cover;
      transform: scale(1.1);
      
      }
      }
  

  &:hover {
    .news_block_item_title {
      opacity: 0.6;
    }
    img {
      transform: scale(1.2);
    }
  }
  }
}