
.swiper_container {
  height: 900px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img,
a {
  user-select: none;
  display: block;
  width: 100%;
  height: 100%;
  object-fit:cover;
  opacity: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgb(13, 13, 13);
  opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  background-color: rgb(198, 49, 49);
  opacity: 0.8;
}